<!DOCTYPE html>
<html>
    <head>
        <link href="css/mainMenu.css" rel="stylesheet" type="text/css" media="all" />
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>       
        <link rel="shortcut icon" href="images/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Find My Files</title>
    </head>
    <body>
        <div class="page-wrap">
        <div class="header">
            <h1>Find My Files</h1>
            <h2>An anti-theft software suite for computers</h2>
            
            <div class="userLog">
                <h3 class="welcomeMsg">Welcome <%=user.username%>!</h3>
                <input type="submit" class="logout" value="Logout" onclick="window.location.href='/logout'"/>
            </div>
        </div>
        
        <div class="deviceContainer">
            <h2 class="deviceMsg">Your devices:</h2>
            
            <% if (devices.length == 0) { %>
                <h3 class="noDevices">You currently do not have Find My Files installed on any devices. <br><br>Click the download button below to get started!</h3>
            <% } else { %>
                <section>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>DEVICE NAME</th>
                                <th class="emptyCol"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <!-- for loop starts here -->
                    <% for (var i = 0; i < devices.length; i++) { %>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="deviceName"><%=  devices[i].name  %></td>
                                    <td class="viewDevice">
                                        <form action="/dashboard" method="GET" onsubmit="">
                                            <input type="hidden" name="socket" value= "<%= devices[i].socketId %>" /> 
                                            <input type="hidden" name="appId" value= "<%= devices[i].appId %>" /> 
                                            <input type="hidden" name="deviceId" value= "<%= devices[i].deviceId %>" /> 
                                            <input type="submit" id="viewBtn" value="View device" />
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <% } %>
                    <!-- for loop ends here -->
                </div>
                </section>
            <% } %>
            
        </div>
        
        <div class="downloadContainer">
            <form action="/download" method="GET">
                <input type="submit" id="downloadBtn" value="Download Client" />
            </form>
        </div> 
        </div>
    </body>
</html>